PRAXIS_HOST=localhost
PRAXIS_OWNER_PASSWORD=
PRAXIS_RUNTIME_PASSWORD=
PRAXIS_JWT_SECRET=
PRAXIS_EMBEDDING_KEY_BASE64=
PRAXIS_SUPPLIED_MODELS_ENABLED=false
PRAXIS_SUPPLIED_WORKER_URL=http://host.docker.internal:8765
PRAXIS_SUPPLIED_WORKER_TOKEN=
